﻿<%@ Page Title="Home Page" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeFile="Default.aspx.vb" Inherits="_Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2 style="color: #0000FF; font-size: large;">
        Welcome to Repuplic of the philippines - national bureau of investigation!</h2>
    <p style="color: #0000FF; font-size: large;">
        To provide quality investigative and forensic services to the people through 
        advance methods and equipment in the pursuit of truth and justice.</p>
    <p>
        &nbsp;</p>
</asp:Content>